/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: roboto, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: #1f2937;
}
header #heading {
  width: 75%;
  margin: 0 auto;
  padding-top: 15px;
}
header h1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}
header h2 {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
}
header p {
  color: #e5e7eb;
}
header a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 18px;
}
header .awesome {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}
header .awesome .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  gap: 10px;
}
header .awesome .text button {
  border-style: none;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 12px;
  padding: 10px;
}
header .awesome img {
  width: 800px;
  height: 400px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav span {
  display: flex;
  gap: 24px;
}
#quote {
  background-color: #e5e7eb;
  font-style: italic;
  color: #1f2937;
  font-size: 36px;
  display: flex;
  justify-items: center;
}
#quote .content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 80px;
}
#quote #author {
  text-align: right;
  font-weight: bold;
  font-style: normal;
  display: block;
  flex-wrap: wrap;
}
#action {
  background-color: #3882f6;
  width: 75%;
  margin: 0 auto;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 12px;
  color: #e5e7eb;
}
#action h3 {
  font-weight: bold;
}
#action #sign-up {
  display: flex;
  align-items: baseline;
  gap: 100px;
}
#action button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  padding: 12px;
  border-radius: 12px;
}
#information h3 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
}
.content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  margin-bottom: 80px;
}
.content .books {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content .books img {
  height: 200px;
  width: auto;
}
