header {
    background-color: #1f2937;

    #heading {
        .auto-width(75%, 0 auto);
        padding-top: 15px;
    }

    h1 {
        color: #f9faf8;
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        color: #f9faf8;
        font-weight: bolder;
        font-size: 48px;
    }

    p {
        color: #e5e7eb;
    }

    a {
        color: #f9faf8;
        text-decoration: none;
        font-size: 18px;
    }

    .awesome {
        display: flex;
        margin: 50px 0;
        justify-content: space-between;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 30%;
            gap: 10px;
            
            button {
                border-style: none;
                background-color: #3882f6;
                color: #f9faf8;
                border-radius: 12px;
                padding: 10px;
            }
            
        }

        img {
            width: 800px;
            height: 400px;
        }
    }

    
}



